In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 71kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 40.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=621837c70244325e56ca9089444bc175ee0ee3c344b4c2847f3c6d489961973f
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 2 newly installed, 0 to remove and 34 not upgraded.
Need to get 36.5 MB of archives.
After this operation, 143 MB of additional disk space will be used.
Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 160690 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u282-b08-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u282-b08-0ubuntu1~18.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u282-b08-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u282-b08-0ubuntu1~18.04) ...
Setting up openjdk-8-jre-headless:amd64 (8u282-b08-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u282-b08-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode

In [ ]:
import pyspark
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf

# Setting up PySpark environment

In [ ]:
conf = SparkConf().set("spark.ui.port", "4050")
# create the context
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
cur_path = "/content/drive/MyDrive/bigdata_final"
os.chdir(cur_path)
!pwd

/content/drive/MyDrive/bigdata_final

In [ ]:
df = pd.read_csv("netflix_titles.csv")

In [ ]:
df_spark = spark.read.csv("/content/drive/MyDrive/bigdata_final/netflix_titles.csv", header=True)

# Data preprocess

In [ ]:
from pyspark.sql.functions import lower, col

## Extracting useful features:

In [ ]:
df_low = df_spark.select('show_id', lower(col('director')).alias('director'),
                lower(col('description')).alias('description'),
                lower(col('title')).alias('title'),
                lower(col('listed_in')).alias('listed_in'),
                lower(col('type')).alias('type'))

In [ ]:
df_spark.show()

+-------+-------+------+--------------------+--------------------+--------------------+-----------------+------------+------+---------+--------------------+--------------------+
|show_id|   type| title|            director|                cast|             country|       date_added|release_year|rating| duration|           listed_in|         description|
+-------+-------+------+--------------------+--------------------+--------------------+-----------------+------------+------+---------+--------------------+--------------------+
|     s1|TV Show|    3%|                null|João Miguel, Bian...|              Brazil|  August 14, 2020|        2020| TV-MA|4 Seasons|International TV ...|In a future where...|
|     s2|  Movie|  7:19|   Jorge Michel Grau|Demián Bichir, Hé...|              Mexico|December 23, 2016|        2016| TV-MA|   93 min|Dramas, Internati...|After a devastati...|
|     s3|  Movie| 23:59|        Gilbert Chan|Tedd Chan, Stella...|           Singapore|December 20, 2018|        2011|     R|   78 min|Horror Movies, In...|When an army recr...|
|     s4|  Movie|     9|         Shane Acker|Elijah Wood, John...|       United States|November 16, 2017|        2009| PG-13|   80 min|Action & Adventur...|In a postapocalyp...|
|     s5|  Movie|    21|      Robert Luketic|Jim Sturgess, Kev...|       United States|  January 1, 2020|        2008| PG-13|  123 min|              Dramas|A brilliant group...|
|     s6|TV Show|    46|         Serdar Akar|Erdal Beşikçioğlu...|              Turkey|     July 1, 2017|        2016| TV-MA| 1 Season|International TV ...|A genetics profes...|
|     s7|  Movie|   122|     Yasir Al Yasiri|Amina Khalil, Ahm...|               Egypt|     June 1, 2020|        2019| TV-MA|   95 min|Horror Movies, In...|After an awful ac...|
|     s8|  Movie|   187|      Kevin Reynolds|Samuel L. Jackson...|       United States| November 1, 2019|        1997|     R|  119 min|              Dramas|After one of his ...|
|     s9|  Movie|   706|       Shravan Kumar|Divya Dutta, Atul...|               India|    April 1, 2019|        2019| TV-14|  118 min|Horror Movies, In...|When a doctor goe...|
|    s10|  Movie|  1920|        Vikram Bhatt|Rajneesh Duggal, ...|               India|December 15, 2017|        2008| TV-MA|  143 min|Horror Movies, In...|An architect and ...|
|    s11|  Movie|  1922|        Zak Hilditch|Thomas Jane, Moll...|       United States| October 20, 2017|        2017| TV-MA|  103 min|   Dramas, Thrillers|A farmer pens a c...|
|    s12|TV Show|  1983|                null|Robert Więckiewic...|Poland, United St...|November 30, 2018|        2018| TV-MA| 1 Season|Crime TV Shows, I...|In this dark alt-...|
|    s13|TV Show|  1994|Diego Enrique Osorno|                null|              Mexico|     May 17, 2019|        2019| TV-MA| 1 Season|Crime TV Shows, D...|Archival video an...|
|    s14|  Movie| 2,215| Nottapon Boonprakob|  Artiwara Kongmalai|            Thailand|    March 1, 2019|        2018| TV-MA|   89 min|Documentaries, In...|This intimate doc...|
|    s15|  Movie|  3022|          John Suits|Omar Epps, Kate W...|       United States|   March 19, 2020|        2019|     R|   91 min|Independent Movie...|Stranded when the...|
|    s16|  Movie|Oct-01|      Kunle Afolayan|Sadiq Daba, David...|             Nigeria|September 1, 2019|        2014| TV-14|  149 min|Dramas, Internati...|Against the backd...|
|    s17|TV Show|Feb-09|                null|Shahd El Yaseen, ...|                null|   March 20, 2019|        2018| TV-14| 1 Season|International TV ...|As a psychology p...|
|    s18|  Movie|22-Jul|     Paul Greengrass|Anders Danielsen ...|Norway, Iceland, ...| October 10, 2018|        2018|     R|  144 min|   Dramas, Thrillers|After devastating...|
|    s19|  Movie|15-Aug|  Swapnaneel Jayakar|Rahul Pethe, Mrun...|               India|   March 29, 2019|        2019| TV-14|  124 min|Comedies, Dramas,...|On India's Indepe...|
|    s20|  Movie|   '89|                null|Lee Dixon, Ian Wr...|      United Kingdom|     May 16, 2018|        2017| TV-PG|   87 min|       Sports Movies|Mixing old footag...|
+-------+-------+------+--------------------+--------------------+--------------------+-----------------+------------+------+---------+--------------------+--------------------+
only showing top 20 rows

## Apply tokenizer function to each column

In [ ]:
from pyspark.ml.feature import Tokenizer

In [ ]:
tokenizer = Tokenizer(inputCol="director", outputCol="director_words")

In [ ]:
t = tokenizer.transform(df_low)

In [ ]:
df = df.dropna(how='any')

In [ ]:
df.drop(columns=['director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration'], inplace=True)

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.tokenize import word_tokenize

df['title_words'] = df['title'].str.lower()
df['listed_in'] = df['listed_in'].str.lower()
df['description'] = df['description'].str.lower()
df['type'] = df['type'].str.lower()

df['title_words'] = df['title_words'].apply(word_tokenize)
df['listed_in'] = df['listed_in'].apply(word_tokenize)
df['description'] = df['description'].apply(word_tokenize)
df['type'] = df['type'].apply(word_tokenize)

In [ ]:
df

     show_id  ...                                        title_words
0         s1  ...                                             [3, %]
1         s2  ...                                             [7:19]
2         s3  ...                                            [23:59]
3         s4  ...                                                [9]
4         s5  ...                                               [21]
...      ...  ...                                                ...
7782   s7783  ...                                             [zozo]
7783   s7784  ...                                           [zubaan]
7784   s7785  ...                             [zulu, man, in, japan]
7785   s7786  ...                        [zumbo, 's, just, desserts]
7786   s7787  ...  [zz, top, :, that, little, ol, ', band, from, ...

[7787 rows x 6 columns]

In [ ]:
from nltk.corpus import stopwords
from string import punctuation

list_stopwords = set(stopwords.words('english') + list(punctuation))
df['title_words'] = df['title_words'].apply(lambda x: [word for word in x if word not in list_stopwords])
df['listed_in'] = df['listed_in'].apply(lambda x: [word for word in x if word not in list_stopwords])
df['description'] = df['description'].apply(lambda x: [word for word in x if word not in list_stopwords])
df['type'] = df['type'].apply(lambda x: [word for word in x if word not in list_stopwords])

In [ ]:
import string

df['description'] = df['description'].apply(lambda x : [word.translate(str.maketrans('', '', string.punctuation)) for word in x])
df['description'] = df['description'].apply(lambda x : [word for word in x if len(word) > 0])

In [ ]:
df['title_words'] = df['title_words'].apply(lambda x : list(set(x)))
df['listed_in'] = df['listed_in'].apply(lambda x : list(set(x)))
df['description'] = df['description'].apply(lambda x : list(set(x)))
df['type'] = df['type'].apply(lambda x : list(set(x)))

In [ ]:
df

     show_id  ...   title_words
1         s2  ...        [7:19]
2         s3  ...       [23:59]
3         s4  ...           [9]
4         s5  ...          [21]
5         s6  ...          [46]
...      ...  ...           ...
7778   s7779  ...  [zombieland]
7780   s7781  ...         [zoo]
7781   s7782  ...        [zoom]
7782   s7783  ...        [zozo]
7783   s7784  ...      [zubaan]

[4808 rows x 6 columns]

# Download the pretrained word2vec model

In [ ]:
!wget -c "https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz"
!gunzip GoogleNews-vectors-negative300.bin.gz

--2021-04-25 22:02:27--  https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.141.174
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.141.174|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1647046227 (1.5G) [application/x-gzip]
Saving to: ‘GoogleNews-vectors-negative300.bin.gz’

GoogleNews-vectors- 100%[===================>]   1.53G  41.6MB/s    in 38s

2021-04-25 22:03:06 (41.4 MB/s) - ‘GoogleNews-vectors-negative300.bin.gz’ saved [1647046227/1647046227]

gzip: GoogleNews-vectors-negative300.bin already exists; do you wish to overwrite (y or n)? n
	not overwritten

In [ ]:
import gensim
wv = gensim.models.KeyedVectors.load_word2vec_format("GoogleNews-vectors-negative300.bin", binary=True)

In [ ]:
matrix_vocab = []
for list_ in df.to_numpy():
    list_[1] = [word for word in list_[1] if word in wv.vocab]
    list_[3] = [word for word in list_[3] if word in wv.vocab]
    list_[4] = [word for word in list_[4] if word in wv.vocab]
    list_[5] = [word for word in list_[5] if word in wv.vocab]
    matrix_vocab.append(list_)
df_vocab = pd.DataFrame(matrix_vocab, columns=df.columns)

In [ ]:
from tqdm import tqdm

def recommendation(title):
    matrix_netflix_title_vocab = []
    for list_ in df[df['title'] == title].to_numpy():
        list_[1] = [word for word in list_[1] if word in wv.vocab]
        list_[3] = [word for word in list_[3] if word in wv.vocab]
        list_[4] = [word for word in list_[4] if word in wv.vocab]
        list_[5] = [word for word in list_[5] if word in wv.vocab]
        matrix_netflix_title_vocab.append(list_)

    matrix_similarity = []
    
    for list1 in matrix_vocab:
        for list2 in matrix_netflix_title_vocab:
            #score_title = wv.n_similarity(list1[5], list2[5])
            score_type = wv.n_similarity(list1[1], list2[1])
            score_catg = wv.n_similarity(list1[3], list2[3])
            score_desc = wv.n_similarity(list1[4], list2[4])
            #print(score_type)
            try:
                score_title = 0.5*wv.n_similarity(list1[5], list2[5])
            except:
                score_title = 0
            if ((list1[2] != list2[2]) & (score_catg > 0.85)):
                matrix_similarity.append([list1[2], list2[2], score_title, score_type, score_catg, score_desc])
        #pbar.update()
    #pbar.close()
    df_netflix_similarity = pd.DataFrame(matrix_similarity, columns = ['recommendation', 'title','score_type','score_title', 'score_category', 'score_description'])
    df_netflix_similarity['final_score'] = df_netflix_similarity['score_title'] + df_netflix_similarity['score_category'] + df_netflix_similarity['score_description']+ df_netflix_similarity['score_type']
    return (df_netflix_similarity.sort_values(by=['final_score', 'score_category', 'score_description', 'score_title', 'score_type'], ascending=False).head(10))

# Making Recommendation

In [ ]:
recommendation("Supergirl")

                             recommendation  ... final_score
17                 DC's Legends of Tomorrow  ...    2.680850
48  Miraculous: Tales of Ladybug & Cat Noir  ...    2.679902
73                                The Flash  ...    2.598544
66                         Superman Returns  ...    2.121598
57           Scorpion King 5: Book of Souls  ...    2.006778
42                  La Leyenda del Diamante  ...    1.995153
13                                  Chappie  ...    1.976725
43                Legend of the Naga Pearls  ...    1.974586
46  Marvel's Iron Man & Hulk: Heroes United  ...    1.963670
69                          The Book of Eli  ...    1.958049

[10 rows x 7 columns]